body {
  background-color: #263238;
}

.parrafo {
  display: flex;
  align-items: center;
}

img {
  margin-left: 10px;
}

p {
  text-align: justify;
  color: white;
}

h1 {
  text-align: center;
  background-color: #00BCD4;
  color: white;
  border: 1px;
  border-radius: 9px;
}

@media only screen and (max-width: 635px) {
  p {
    font-size: 13px;  
  }
}

@media only screen and (max-width: 400px) {
  .parrafo {
    font-size: 11px;  
  }
}

.menu-header {
  list-style-type: none;
  display: flex; /* Hace que los elementos li se dispongan en fila */
  justify-content: flex-end; /* Alinea los elementos hijos a la derecha */
  padding: 8px;
  margin: 0px;
}

.a-de-menu {
  color: black;
  text-decoration: none;
  margin-left: 8px; /* Añade espacio entre los enlaces */
  cursor: pointer;
  background-color: #00BCD4;
  padding: 13px;
  border-radius: 10px;
  transition: 0.4s;
  transition-timing-function: ease-out;
  transition-property: color;
}

.a-de-menu:hover {
  color: white;
  border: solid white;
  border-width: 2px;
}

.B {
  color: black;
}

.B:hover {
  color: white;
  cursor: none;
  transition: 0.3s;
}

.container {
  width: 100%;
  max-width: 250px;
  height: auto;
  border: 5px solid #00BCD4; /* Agregamos un borde al contenedor */
  border-radius: 11px; /* Añadimos bordes redondeados al contenedor */
  padding: 15px; /* Añadimos espacio interno al contenedor */
  background-color: #163238;
  margin-bottom: 30px;
}

.container p {
  text-align: justify; /* Alineamos el texto a la justificación */
  color: white;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre el .container y el iframe */
}

@media only screen and (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  

  iframe {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    scale: 0.7;
    position: relative;
    right: 50px;
  }
}
